<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  	<script src="script.js">
  		console.log(!{data});
  	</script>
	<body onload="init()">
	  	
	  
		<canvas id="myCanvas" width="2000" height="1400" style="border:1px solid #000000;">
		  <img id="norden" src="http://natgeo.se/files/bonnier-ngm/imagecache/630x420/pictures/scandinavia-map_1.jpg" alt="The Scream">
		  
		  
		Your browser does not support the HTML5 canvas tag.
		</canvas>

	</body>
</html>